<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/701_Assignment2_ForStudents/src/se701/A2MainRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="se701.A2MainRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="701_Assignment2_ForStudents"/>
</launchConfiguration>
